# Supabase の設定
# Supabase ダッシュボード → Project Settings → API から取得してください

NEXT_PUBLIC_SUPABASE_URL=https://iylwjrhehprojjuvdpey.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml5bHdqcmhlaHByb2pqdXZkcGV5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg2OTg4MzIsImV4cCI6MjA5NDI3NDgzMn0.v62X4pAdUbuHJMUiUj1ZAr_eDIQ-BxkCvxF_jkk1bDw
